body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg, rgb(62, 75, 134), rgb(152, 162, 178));
  }
  .main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    background-color: rgb(126, 126, 126);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  h2 {
    color: #232f3e;
    font-family:'Times New Roman', Times, serif;
  }
  .search {
    height: 20px;
    width: 90%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
  }
  button {
    display: block;
    margin: 0 auto;
    height: 40px;
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    background-color: #f0c14b;
    color: #111;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
  }
  button:hover {
    background-color: #c7a753;
  }
  .icon{
    padding: 10px;
  }
  .submit {
    padding: 10px;
  }